<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coursemanager.mapper.CoursenoticeMapper">
 <insert id="save" parameterType="Coursenotice" >
     insert into coursenotice (courseid,noticetitle,noticecontext,byuser,userid,pushda_date) values(#{courseid},#{noticetitle},#{noticecontext},#{byuser},#{userid},#{pushdaDate})
 </insert>

 
     <select id="findBycourseid" parameterType="int" resultType="Coursenotice">  
       select * from coursenotice where courseid = #{courseid}  order by pushda_date DESC
    </select> 
    
     <select id="getCoursenoticebyid" parameterType="int" resultType="Coursenotice">  
       select * from coursenotice where noticeid = #{noticeid} 
    </select> 
 </mapper>