<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    
    
<!--        配置映射类的别名 -->
 	<typeAliases>
      <typeAlias alias="User" type="com.coursemanager.model.User"/> 
      <typeAlias alias="ChoiceCourse" type="com.coursemanager.model.ChoiceCourse"/> 
      <typeAlias alias="Coursenotice" type="com.coursemanager.model.Coursenotice"/> 
      <typeAlias alias="Coursedetail" type="com.coursemanager.model.Coursedetail"/> 
      <typeAlias alias="Coursedocument" type="com.coursemanager.model.Coursedocument"/> 
      <typeAlias alias="Teachresource" type="com.coursemanager.model.Teachresource"/> 
      <typeAlias alias="Coursereply" type="com.coursemanager.model.Coursereply"/> 
      <typeAlias alias="Coursediscuss" type="com.coursemanager.model.Coursediscuss"/>
      <typeAlias alias="Coursework" type="com.coursemanager.model.Coursework"/>  
      <typeAlias alias="Courseworkupload" type="com.coursemanager.model.Courseworkupload"/>  
      
      
   </typeAliases>  

</configuration>